<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>QQHde博客</title>
    <meta name="format-detection" content="telephone=no">
    <base href="../../../src/">
    <link href="style/education/educationindex.css" rel="stylesheet">
    <link rel="shortcut icon" href="assets/main/图标.ico" />
</head>

<body>
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
    <!-- 头部 -->
    <header class="header">
        <div class="container ">
            <!-- 网站Logo -->
            <div class="logo-main fl">
                <a class="logo left" href="index.html" title=""><img src="assets/main/back.png" width="30px" />首页</a>
            </div>
            <!-- 网站Logo end -->
            <!-- 导航菜单 -->
            <nav class="header-menu fr">
                <div>
                    <ul id="" class="menu">
                        <li class="menu-item hover"><a
                                href="views/education/myprimaryschool/primaryschool.html">我的小学</a>
                            <ul class="sub-menu">
                            </ul>
                        </li>
                        <li class="menu-item"><a href="views/education/highmiddleschool.html">初中经历</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="views/education/middleschool.html">初中生活</a></li>
                                <li class="menu-item"><a href="views/education/middleschool.html">高中学习</a></li>
                            </ul>
                        </li>
                        <li class="menu-item "><a href="views/education/mycollege/gnnuindex.html">大学校园</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="views/education/mycollege/basicMessage.html">基本信息</a>
                                </li>
                                <li class="menu-item"><a href="views/education/mycollege/myprofession.html">专业信息</a>
                                </li>
                                <li class="menu-item"><a href="views/education/mycollege/gnnulandscape.html">校园风光</a>
                                </li>
                                <li class="menu-item"><a href="views/education/mycollege/schedule2024.html">课程表</a></li>
                                <li class="menu-item"><a href="views/education/mycollege/mychum.html">室友</a></li>
                                <li class="menu-item"><a
                                        href="views/education/mycollege/collectMessage.html">大学生信息收集表</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- 导航菜单end -->
        </div>
    </header>

    <div class="fullwidthbanner-container">
        <div class="b_shadow"></div>
        <div class="fullwidthbanner">
            <ul>
                <li>
                    <img src="assets/education/educationbkg.jpg" alt="" width="100%" />
                </li>
            </ul>
        </div>
    </div>

    <div class="in_pro">
        <div class="container">
            <div class="tt_top">
                <h1>EDUCATION</h1>
                <div class="line"></div>
                <p>学习，使我快乐！</p>
            </div>
        </div>
        <div class="pro_class">

            <div id="cbp-so-scroller" class="cbp-so-scroller">
                <div id="portfolio" class="clearfix">
                    <div class="portfolio-bg"> </div>
                    <div class="container typo1 in_prolist">
                        <div class="wrapper clearfix">
                            <div id="options" class="clearfix">
                                <ul id="filters" class="option-set clearfix" data-option-key="filter">
                                    <li><a href="#filter" data-option-value=".web-design" style="border:none;">小学</a>
                                    </li>
                                    <li><a href="#filter" data-option-value=".photo">初中生活</a></li>
                                    <li><a href="#filter" data-option-value=".ios-app">高中学习</a></li>
                                    <li><a href="#filter" data-option-value=".graphic">大学校园</a></li>
                                    <li><a href="#filter" data-option-value=".showers">课外阅读</a></li>
                                </ul><!--end:filters-->
                            </div>
                        </div><!--end:wrapper-->
                        <ul id="container" class=" clickable cs-style-5 grid clearfix isotope"
                            style="position: relative; overflow: hidden; width: 1000px;">
                            <li class="element kitchen isotope-item"
                                style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/cf03.jpg" alt="">
                                        <figcaption>
                                            <h3>厨房龙头</h3>
                                            <div class="meta-box clearfix">
                                                <span class="entry-categories">精铜阀体，结构严密;陶瓷阀芯，经久耐用</span>
                                            </div>
                                            <footer>
                                                <div id="nivo-lightbox-demo">
                                                    <p> <span data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">
                                                            View</span> </p>
                                                </div>
                                            </footer>

                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li class="element kitchen isotope-item"
                                style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/cf2.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element kitchen isotope-item"
                                style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(295px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/cf03.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element photo isotope-item"
                                style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/xl02.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element photo isotope-item"
                                style="display: none; position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/0502001787.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element web-design isotope-item"
                                style="display: none; position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(295px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/xy01.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element web-design isotope-item"
                                style="display: none; position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(295px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/xy02.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element ios-app isotope-item"
                                style="display: none; position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(590px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/pro.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element ios-app isotope-item"
                                style="display: none; position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(590px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/ly1.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element ios-app isotope-item"
                                style="display: none; position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(590px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/ly2.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element ios-app isotope-item"
                                style="display: none; position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(590px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/ly3.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element graphic isotope-item"
                                style="display: none; position: absolute;left: 0px; top: 0px; -webkit-transform: translate3d(885px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/yg01.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element graphic isotope-item"
                                style="display: none; position: absolute;left: 0px; top: 0px; -webkit-transform: translate3d(885px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/yg05.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                            <li class="element graphic isotope-item"
                                style="display: none; position: absolute;left: 0px; top: 0px; -webkit-transform: translate3d(885px, 0px, 0px);">
                                <a href="proview.html">
                                    <figure>
                                        <img src="images/yg04.jpg" alt="">
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div><!--end:typo1-->
                </div>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="js/home.js"></script> -->
    <!--about us-->
    <footer>
        <div class="container ">
            <div class="footer_l fl">
                <div class="clearfix links">
                    <a href="about.html">&copy; 2024 Gnnu QQH</a>|<a href="news.html">隐私政策</a>|<a
                        href="prolist.html">服务条款</a>|<a href="join.html">技术支持</a>|<a href="media.html">帮助</a>|<a
                        href="contact.html">反馈与建议</a>
                </div>
                <div class="copy"><a href="">返回顶部</a><br />
                    <a href=""> 联系信息：2664856683@qq.com</a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>