<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <base href="../../../../src/">
    <link rel="stylesheet" href="style/education/gnnuindex.css">
    <link rel="stylesheet" href="style/education/common.css">
    <link rel="shortcut icon" href="assets/main/图标.ico" />
    <title>QQHde博客</title>
    <style>
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="head c">
        <div class="c">
            <div class="head_l">
                <li><a href="../index.html"><img src="assets/main/home.png" alt="" width="30px">首页</a></li> &nbsp;&gt;<a
                    href="views/education/education.html"><small>教育经历</small></a>
            </div>
            <div class="head_c">
                <h1>QQH <span>de</span> 博客</h1>
            </div>
            <div class="head_r">
                <img src="assets/main/user.png" alt="" width="30px" height="30px">
                <ul>
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 页面主要区域 开始 -->
    <div id="index_main" class="c">
        <!-- 导航 -->
        <div class="nav">
            <a href=""><img src="assets/main/sign.JPG" alt="" id="sign"></a>
            <div class="nav_main">
                <ul>
                    <li><a href="views/education/mycollege/gnnuindex.html">大学主页</a></li>
                    <li><a href="views/education/mycollege/basicmessage.html">基本信息</a></li>
                    <li><a href="views/education/mycollege/gnnulandscape.html">校园风景</a></li>
                    <li><a href="views/education/mycollege/myprofession.html">我的专业</a></li>
                    <li><a href="views/education/mycollege/mychum.html">我的室友</a></li>
                    <li><a href="views/education/mycollege/schedule2024.html">我的课程表</a></li>
                    <li><a href="views/education/mycollege/freetime.html">课外生活</a></li>
                    <li class="hove"><a href="views/education/mycollege/collectMessages.html">大学生信息注册</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
        </div>
    </div>
    <!--  -->


    <!-- 页脚 -->
    <div class="foot">
        <div class="foot_ c clear">
            <dl>
                <dt></dt>
                <dd>&copy; 2024 Gnnu QQH</dd>
                <dd>隐私政策</dd>
                <dd>服务条款</dd>
                <dd>联系信息：2664856683@qq.com</dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#">返回顶部</a></dd>
                <dd>技术支持</dd>
                <dd>帮助</dd>
                <dd>反馈与建议</dd>
            </dl>
        </div>
    </div>

    <script src=""></script>
</body>

</html>