<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="./gnnuindex.css">
    <base href="../../../../src/">
    <link rel="shortcut icon" href="/src/assets/main/图标.ico" />
    <link rel="stylesheet" href="style/education/common.css">
    <title>QQHde博客</title>
    <style>
        .plate {
            margin: 40px 0px;

            .part {
                position: relative;
                display: inline;
                float: left;

                img {
                    display: inline;
                    float: right;
                }

                .describe {
                    position: relative;
                    display: inline-block;
                }

            }
        }
    </style>
</head>

<body>
    <!-- 头部 -->
    <div class="head c">
        <div class="c">
            <div class="head_l">
                <li><a href="../index.html"><img src="assets/main/home.png" alt="" width="30px">首页</a></li> &nbsp;&gt;<a
                    href="views/education/education.html"><small>教育经历</small></a>
            </div>
            <div class="head_c">
                <h1>QQH <span>de</span> 博客</h1>
            </div>
            <div class="head_r">
                <img src="assets/main/user.png" alt="" width="30px" height="30px">
                <ul>
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 页面主要区域 开始 -->
    <div id="index_main" class="c">
        <!-- 导航 -->
        <div class="nav">
            <a href=""><img src="assets/main/sign.JPG" alt="" id="sign"></a>
            <div class="nav_main">
                <ul>
                    <li><a href="views/education/mycollege/gnnuindex.html">大学主页</a></li>
                    <li><a href="views/education/mycollege/basicmessage.html">基本信息</a></li>
                    <li><a href="views/education/mycollege/gnnulandscape.html">校园风景</a></li>
                    <li class="hove"><a href="views/education/mycollege/myprofession.html">我的专业</a></li>
                    <li><a href="views/education/mycollege/mychum.html">我的室友</a></li>
                    <li><a href="views/education/mycollege/schedule2024.html">我的课程表</a></li>
                    <li><a href="views/education/mycollege/freetime.html">课外生活</a></li>
                    <li><a href="views/education/mycollege/collectMessages.html">大学生信息注册</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="plate">
                <div class="part"><img src="../../../../素材/picture/gnnulog.webp" alt="" width="220px">

                    一、专业简介
                    计算机科学与技术专业是研究计算机系统、算法、程序设计、数据结构、软件开发和硬
                    件设计等领域的学科。学校于 1992 年创办了计算机教育专科专业，1995 年增设计算机科学
                    与技术本科专业，是江西省内较早开设该专业的高校之一。本专业师资力量较强，结构合理，
                    现有专业教师 35 名，硕士生导师 18 名，其中副教授职称以上教师 22 名，博士（含在读）教
                    师 27 名，江西省双千人才 1 名。
                    计算机科学与技术专业是国家一流专业建设点、江西省一流专业建设点、江西省品牌专
                    业，2021 年开始一本招生。本专业主要学习计算机科学与技术的基础理论和基本知识，接受
                    从事计算机科学研究与应用的基本训练，培养开发计算机软件的基本能力。
                    本专业依托江西省数值模拟与仿真技术重点实验室、江西省计算机实验教学示范中心、
                    大数据实验平台与大数据综合计算平台等实验场所和教学平台进行人才培养和科学研究。现
                    建有 2 门省级金课，1 门省级精品课程，7 门校级精品课程。承担了江西省“卓越工程师计划”、
                    计算机专业服务外包人才培养模式创新实验区（省级）、基于可编程控制机器人比赛的 C 语言
                    系列课程等创新实验项目。
                    专业坚持以培养适合社会经济发展需要的人才为办学理念，以质量为生命线，注重培养
                    学生的人文与科技素养及创新能力。学生多次在中国大学生计算机设计大赛、中国机器人及
                    人工智能大赛、全国大学生数学建模竞赛、美国大学生数学建模竞赛中获得国家级一等奖、
                    二等奖。在江西省大学生电脑知识作品大赛、江西省智能机器人赛、江西省智能汽车赛、江
                    西省教师技能赛中年均获省级以上奖 400 余项。
                    二、培养目标
                    根据地方经济和社会发展对高等教育培养高素质人才的需要，通过本专业学习，较好地掌
                    握计算机科学与技术领域的相关理论和方法，包括计算机硬件、软件与应用的基本理论、知识、
                    技能和方法，学科基础厚实、专业技能较强、综合素养较高、具有较强的实践应用能力、适应
                    地方经济社会发展，富有社会责任感、创新精神、创业意识和创新创业能力，能在科研、企业、
                    事业和行政管理等单位从事计算机应用和科学研究工作的高素质应用型专门人才。
                    学生毕业 5 年左右预期目标：
                    1.综合素养：在工作中表现出良好的人文素养、职业道德、团队协作和沟通能力以及强
                    数学与计算机科学学院
                    276
                    烈的社会责任感。能够依据计算机科学技术领域的有关行业规范与法律法规，在工程实践中
                    综合考虑法律、环境、社会、文化和可持续发展等因素的影响；
                    2.专业能力：在工作中能够有效利用计算机科学与数学等专业知识进行新知识和新技术
                    的学习，适应现代计算机科学技术以及人工智能技术的发展。具备较强的工程实践能力和创
                    新能力，能融会贯通工程数理基本知识和专业知识，用以解决计算机软硬件系统设计、生产
                    过程中的复杂工程问题；
                    3.职业能力：从事计算机软硬件系统功能模块的设计与应用开发、系统集成、运营管理以及技
                    术顾问等高技术含量的工作，成为软硬件工程师岗位或相关的教学科研岗位骨干或者带头人；
                    4.职业发展：具有全球化意识和国际视野，通过继续教育或其他学习渠道更新知识，不
                    断增加知识储备和提升能力。
                    三、毕业要求
                    1.工程知识：能够将数学、工程基础和计算机科学专业知识用于解决复杂计算机软硬件
                    系统工程问题。
                    2.问题分析：能够应用数学和工程科学的基本原理，识别、表达、并通过文献研究分析
                    复杂计算机软硬件系统工程问题，以获得有效结论。
                    3.设计/开发解决方案：能够设计针对复杂计算机软硬件系统工程问题的解决方案，设计
                    满足特定需求的软件系统，并能够在设计环节中体现创新意识，考虑社会、健康、安全、法
                    律、文化以及环境等因素。
                    4.研究：能够基于软件开发原理并采用现代系统开发方法对复杂计算机软硬件系统工程
                    问题进行研究，包括设计实验、分析与解释数据、并通过信息综合得到合理有效的结论。
                    5.使用现代工具：能够针对复杂计算机软硬件系统工程问题，选择与使用恰当的开发技
                    术、现代软件工程工具，包括对问题的预测与模拟，并能够理解其局限性。
                    6.工程与社会：能够基于复杂计算机软硬件系统工程相关背景知识进行合理分析，评价工
                    程实践和工程问题解决方案对社会、健康、安全、法律以及文化的影响，并理解应承担的责任。
                    7.环境和可持续发展：能够理解和评价针对复杂计算机软硬件系统工程问题的工程实践
                    对环境、社会可持续发展的影响。
                    8.职业规范：具有人文社会科学素养、社会责任感，能够在计算机软硬件系统工程实践
                    中理解并遵守工程职业道德和规范，履行责任。
                    9.人和团队：能够在多学科背景下的团队中承担个体、团队成员以及负责人的角色。
                    10.沟通：能够就计算机软硬件系统工程问题与业界同行及社会公众进行有效沟通和交
                    流，包括撰写报告和设计文稿、陈述发言、清晰表达或回应指令。并具备一定的国际视野，
                    能够在跨文化背景下进行沟通和交流。
                    赣南师范大学本科专业人才培养方案
                    277
                    11.项目管理：理解并掌握计算机软硬件系统工程管理原理与经济决策方法，并能在多学
                    科环境中应用。
                    12.终身学习：具有自主学习和终身学习的意识，有不断学习和适应计算机技术发展的能
                    力。
                    四、主干学科
                    计算机科学与技术
                    五、主要课程
                    学位课程：C 语言程序设计、操作系统、汇编语言、计算机网络、计算机组成原理、离
                    散数学、面向对象程序设计（Java）、软件工程、数据库原理、算法与数据结构
                    应用型课程：大数据处理与应用、计算机软件系统综合开发实训、面向对象综合开发实
                    训、Java EE 开发及案例分析、移动平台开发技术及案例分析、数据库综合实训
                    六、学制及修业年限
                    学制：4 年
                    修业年限：3～6 年
                    七、毕业学分与学位授予
                    本专业须修满培养方案规定 152 学分方可毕业，学位课程平均学分绩点达到《赣南师范
                    大学全日制本科生学士学位授予工作细则》规定的学位授予条件，可授予理学学士学位。
                    八、修读指南
                    1.本专业课程主要集中在第 1～6 学期修完，第 7～8 学期为集中实践课程的修读（有考
                    研提高课程供修读）。
                    2.学生可根据兴趣修读“学科专业选修课”模块的“个性发展课程 I”或/和“个性发展
                    课程 III” 或/和“个性发展课程 IV”的方向课程。
                    3.建议考研的学生修读“学科专业选修课”模块的“个性发展课程 II”的方向课程。
                </div>
                <div class="part"><img src="" alt="">
                    <div class="describe"></div>
                </div>
                <div class="part"><img src="" alt="">
                    <div class="describe"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 页脚 -->
    <div class="foot">
        <div class="foot_ c clear">
            <dl>
                <dt></dt>
                <dd>&copy; 2024 Gnnu QQH</dd>
                <dd>隐私政策</dd>
                <dd>服务条款</dd>
                <dd>联系信息：2664856683@qq.com</dd>
            </dl>
            <dl>
                <dt></dt>
                <dd><a href="#">返回顶部</a></dd>
                <dd>技术支持</dd>
                <dd>帮助</dd>
                <dd>反馈与建议</dd>
            </dl>
        </div>
    </div>

    <script src=""></script>
</body>

</html>